html {
  border: none;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.align-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.grid {
  display: grid;
  
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.align-middle {
  vertical-align: middle;
}

h2 {
  margin: 1rem 0 3rem 0;
  text-align: center;
}